@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details Product manager";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800" id="name_CTSP"></h1>
<a href="#" class="nav-link" style="text-transform: uppercase; width: 180px;" data-toggle="modal" data-target="#createCTSPModal">
    <i class="fa-solid fa-circle-plus" style="padding-right: 6px;"></i><b>Create new</b>
</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 row">
        <h6 class="m-0 font-weight-bold text-primary">Bảng chi tiết sản phẩm</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">               
            <table class="table table-bordered" id="dataTableCTSP" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Màu sắc</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Edit</th> 
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="list_data_CTSP">
               
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Create CT San Pham-->
<div class="modal fade  bd-example-modal-xl" id="createCTSPModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="row justify-content-center ">
                <div class="col-lg-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add a Product!!!</h1>
                        </div>                                                
                        <div class="form-group">
                            <input type="text" name="txtSanPham" class="form-control" readonly>
                        </div>
                        <div class="form-group row">      
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <select id="SelectSizes" name="txtIdSize" class="form-control">                                   
                                </select>
                            </div>                                          
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <select id="SelectColors" name="txtIdColor" class="form-control">                                   
                                </select>
                            </div>                  
                        </div>
                        <div class="form-group">
                            <input type="number" name="txtSoLuong" class="form-control">
                        </div>
                        <div class="form-group">
 
                            <input type="file" name="txtTenAnh" class="form-control" placeholder="Chọn ảnh sản phẩm" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="text-center">
                            <button id="createCTSP" class="btn btn-primary" style="margin: 0px 10px;">Add product</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Update CT San Pham-->
<div class="modal fade  bd-example-modal-xl" id="updateCTSPModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="row justify-content-center ">
                <div class="col-lg-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add a Product!!!</h1>
                        </div>                                                
                        <div class="form-group">
                            <input type="text" name="txtSanPham" class="form-control" readonly>
                        </div>
                        <div class="form-group row">      
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <select id="SelectSizesU" name="txtIdSizeU" class="form-control">                                   
                                </select>
                            </div>                                          
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <select id="SelectColorsU" name="txtIdColorU" class="form-control">                                   
                                </select>
                            </div>                  
                        </div>
                        <div class="form-group">
                            <input type="number" name="txtSoLuongU" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtAnhU" class="form-control" readonly/>
                            <input type="file" name="txtTenAnhU" class="form-control" placeholder="Chọn ảnh sản phẩm" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="text-center">
                            <button id="updateCTSP" class="btn btn-primary" style="margin: 0px 10px;">Add product</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Script/Admin/CTSanPham.js"></script>