
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Home Admin";
}
<div class="cards">
    <div class="card-single">
        <div>
            <h1>54</h1>
            <small>Khách hàng</small>
        </div>
        <div>
            <span class="fa-solid fa-house-user"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
            <h1>80</h1>
            <small>Kế hoạch/Dự án</small>
        </div>
        <div>
            <span class="fa-solid fa-clipboard-list"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
            <h1>111k</h1>
            <small>Đơn hàng</small>
        </div>
        <div>
            <span class="fa fa-shopping-cart"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
            <h1>+30</h1>
            <small>Doanh thu</small>
        </div>
        <div>
            <span class="fa-solid fa-wallet"></span>
        </div>
    </div>
</div>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
            <h3>Dự án gần đây</h3>
            <button>See all <span class="fa-solid fa-arrow-right" color ="#fff">
                    </span></button>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                    <thead>
                        <tr>
                            <td>Tên dự án</td>
                            <td>Đảm nhận</td>
                            <td>Trạng thái</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chào xuân 2022</td>
                            <td>PR team</td>
                            <td>
                                <span class="status purple"></span>
                                Review
                            </td>
                        </tr>
                        <tr>
                            <td>Chào xuân 2022</td>
                            <td>HR team</td>
                            <td>
                                <span class="status purple"></span>
                                    Review
                            </td>
                        </tr>

                        <tr>
                            <td>Valentine 14/2</td>
                            <td>Design team</td>
                            <td>
                                <span class="status purple"></span>
                                Review
                            </td>
                        </tr>

                        <tr>
                            <td>Valentine 14/2</td>
                            <td>PR team</td>
                            <td>
                                <span class="status pink"></span>
                                    In progress
                            </td>
                        </tr>

                        <tr>
                            <td>Valentine 14/2</td>
                            <td>HR team</td>
                            <td>
                                <span class="status pink"></span>
                                In progress
                            </td>
                        </tr>

                        <tr>
                            <td>Quốc tế phụ nữ 2022</td>
                            <td>Design team</td>
                            <td>
                                <span class="status pink"></span>
                                In progress
                            </td>
                        </tr>

                        <tr>
                            <td>Quốc tế phụ nữ 2022</td>
                            <td>PR team</td>
                            <td>
                                <span class="status orange"></span>
                                    Pending
                            </td>
                        </tr>

                        <tr>
                            <td>Quốc tế phụ nữ 2022</td>
                            <td>HR team</td>
                            <td>
                                <span class="status orange"></span>
                                Pending
                            </td>
                        </tr>                           
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="customers">
            <div class="card">
            <div class="card-header">
                <h3>Khách hàng tiềm năng</h3>
                <button>See all <span class="fa-solid fa-arrow-right" color="#fff">
                </span></button>
            </div>

            <div class="card-body">
                <div class="customer">
                    <div class="info">
                        <img src="img/undraw_profile_2.svg" width= "40" height= "40" alt="">
                        <div>
                            <h4>Thiên Nguyên</h4>
                            <small>thienn123</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa-solid fa-circle"></span>
                        <span class="fa-solid fa-comment"></span>
                        <span class="fa-solid fa-phone"></span>
                    </div>
                </div>

                <div class="customer">
                    <div class="info">
                        <img src="img/undraw_profile_2.svg" width= "40" height= "40" alt="">
                        <div>
                            <h4>Thien Nguyen</h4>
                            <small>thienn123</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa-solid fa-circle"></span>
                        <span class="fa-solid fa-comment"></span>
                        <span class="fa-solid fa-phone"></span>
                    </div>
                </div>

                <div class="customer">
                    <div class="info">
                        <img src="img/undraw_profile_2.svg" width= "40" height= "40" alt="">
                        <div>
                            <h4>Thien Nguyen</h4>
                            <small>thienn123</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa-solid fa-circle"></span>
                        <span class="fa-solid fa-comment"></span>
                        <span class="fa-solid fa-phone"></span>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
@section Scripts{
    <script>
        
    </script>
}