@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Khách Hàng";
}
<!-- Page Heading -->

<h1 class="h3 mb-2 text-gray-800">Khách Hàng</h1>
<a href="#" class="nav-link" style="text-transform: uppercase;" data-toggle="modal" data-target="#createKhachHangModal">
</a>
<!-- DataTales Example -->

<div class="card shadow mb-4">
    <div class="card-header py-3 row">
        <h6 class="m-0 font-weight-bold text-primary">Bảng danh sách Khách hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
                                
            <table class="table table-bordered" id="dataTableKhachHang" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Khách hàng</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>UserName</th>
                        <th>Lịch sử mua hàng</th>
                        <th>Xóa khách hàng</th>
                    </tr>
                </thead>
                <tbody id="load_Data_KhachHang">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

 <!-- View Lich su mua hang Modal -->

<div class="modal fade" id="LichSuMuaHangModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1300px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title-ctdh">Lịch sử mua hàng</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>          
            <div class="table-responsive card-body" style="overflow: auto;">
                <table class="table table-bordered" name="ViewLichSu" id="dataTableViewLichSu" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Image</th>
                            <th>Tên sản phẩm</th>
                            <th>Thể loại</th>
                            <th>Size</th>
                            <th>Màu sắc</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Ngày mua</th>
                        </tr>
                    </thead>
                    <tbody id="list-View-LichSuMuaHang">
                        
                    </tbody>
                </table>
            </div>
   
        </div>
    </div>
</div>
<script src="../Script/Admin/KhachHang.js"></script>