@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Khuyến mãi manager";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Khuyến mãi</h1>
<a href="#" class="nav-link" style="text-transform: uppercase; width: 180px;" data-toggle="modal" data-target="#createKhuyenMaiModal">
    <i class="fa-solid fa-circle-plus" style="padding-right: 6px;"></i><b>Create new</b>
</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 row">
        <h6 class="m-0 font-weight-bold text-primary">Bảng danh sách khuyến mãi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
                                
            <table class="table table-bordered" id="dataTableKhuyenMai" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sự kiện khuyến mãi</th>
                        <th>Giảm giá (%)</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="list_Data_KhuyenMai">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Create KhuyenMai-->

<div class="modal fade" id="createKhuyenMaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới Khuyến mãi</h5>
                <button class="close" type="button" data-dismiss="modal" onclick="Clear()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên Khuyến mãi</label><br>
                <input type="text" class="form-control bg-light border-7 small" name="tenKhuyenMai" placeholder="Nhập tên Khuyến mãi">
                <label>Ngày Bắt Đầu</label><br>
                <input type="date" class="form-control bg-light border-7 small" name="ngayBatDau" placeholder="Nhập ngày bắt đầu">
                <label>Ngày Kết Thúc</label><br>
                <input type="date" class="form-control bg-light border-7 small" name="ngayKetThuc" placeholder="Nhập ngày kết thúc">
                <label>Giá giảm</label><br>
                <input type="number" class="form-control bg-light border-7 small" name="giamGia" placeholder="Nhập giá giảm">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                <button class="btn btn-primary" id="createKhuyenMai">Create</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Update KhuyenMai-->

<div class="modal fade" id="updateKhuyenMaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới Khuyến mãi</h5>
                <button class="close" type="button" data-dismiss="modal" onclick=" Clear()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên Khuyến mãi</label><br>
                <input type="text" class="form-control bg-light border-7 small" name="txtTenKhuyenMai" placeholder="Nhập tên Khuyến mãi">
                <label>Ngày Bắt Đầu</label><br>
                <input type="date" class="form-control bg-light border-7 small" name="txtNgayBatDau" placeholder="Nhập ngày bắt đầu">
                <label>Ngày Kết Thúc</label><br>
                <input type="date" class="form-control bg-light border-7 small" name="txtNgayKetThuc" placeholder="Nhập ngày kết thúc">
                <label>Giá Giảm</label><br>
                <input type="number" class="form-control bg-light border-7 small" name="txtGiamGia" placeholder="Nhập giá giảm">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                <button class="btn btn-primary" id="updateKhuyenMai">Save</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Delete KhuyenMai-->

<div class="modal fade" id="deleteKhuyenMaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa Khuyến mãi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="message_delete">
     
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="deleteKhuyenMai">Delete</button>
            </div>
        </div>
    </div>
</div>


<script src="../Script/Admin/KhuyenMai.js"></script>