@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Loại sản phẩm manager";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Thể loại sản phẩm</h1>
<a href="#" class="nav-link" style="text-transform: uppercase; width: 180px;" data-toggle="modal" data-target="#createLoaiModal">
    <i class="fa-solid fa-circle-plus" style="padding-right: 6px;"></i><b>Create new</b>
</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 row">
        <h6 class="m-0 font-weight-bold text-primary">Bảng danh sách loại sản phẩm</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
                                
            <table class="table table-bordered" id="dataTableLoai" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại sản phẩm</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody id="list_data_Loai">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Create Loai-->
<div class="modal fade" id="createLoaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới loại sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="Clear()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên loại sản phẩm</label><br>
                <input type="text" class="form-control bg-light border-7 small" name="tenLoai" placeholder="Nhập loại sản phẩm">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                <button class="btn btn-primary" id="createLoai">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Update Loai-->
<div class="modal fade" id="updateLoaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới loại sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" onclick="Clear()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Tên loại sản phẩm</label><br>
                <input type="text" class="form-control bg-light border-7 small" name="txtLoai" placeholder="Nhập loại sản phẩm">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="Clear()">Cancel</button>
                <button class="btn btn-primary" id="updateLoai">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete Loai-->
<div class="modal fade" id="deleteLoaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa loại</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="message_delete">
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="deteleLoai">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Script/Admin/TheLoai.js"></script>