@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "Lịch sử mua hàng";
}
<!--End: header-->
<!--Begin: Cart-->
<div class="container">
    <div class="link_prev-item">
        <a href="/Home" class=""><i class="mr-12 fa-solid fa-house-chimney"></i><span>Home</span></a>
        <a href="#" class="">Lịch sử mua hàng</a> 
    </div>
    <div class="history-name">
        Lịch sử mua hàng
    </div>
    <section class="history_container">
        <table class="">
            <thead>
                <tr class="history-header">
                    <th>STT</th>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Kích cỡ</th>
                    <th>Size</th>
                    <th>Giá</th>
                    <th>Số lượng mua</th>
                    <th>Tổng tiền</th>
                </tr>
             </thead>
             <tbody>

             </tbody>
        </table>
    </section>
</div>

@section Scripts{
    <script src="~/Script/Customer/LichSu.js"></script>
}