@{
    Layout = "_LayoutLogin";
}
<div class="signin-signup">
    <form id="login_user" action="#" class="sign-in-form" method="post" onsubmit="return false">
        <h2 class="title">Đăng nhập</h2>
        <div class="input-field">
        <i class="fas fa-user"></i>
            <input name="Login_UserName" type="text" class="validate[required]" placeholder="Username "/>
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input name="Login_Pass" type="password" placeholder="Password"/>
        </div>
        <input type="submit" class="btn solid" value="Đăng nhập">
        <p class="social-text">Đăng nhập bằng các nền tảng mạng xã hội</p>
        <div class="social-media">                
            <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </form>

    <form id="register_user" action="#" class="sign-up-form" method="post" onsubmit="return false">
    <h2 class="title">Đăng ký</h2>
    <div class="input-field">
        <i class="fas fa-user"></i>
        <input name="txtHovaTen" type="text" placeholder="Nhập Họ và Tên"/>
    </div>
    <div class="input-field">
        <i class="fa-solid fa-calendar-days"></i>
        <input name="txtNgaySinh" type="date" placeholder="Ngày sinh"/>
    </div>
    <div class="input-field">
        <i class="fa-solid fa-location-dot"></i>
        <input name="txtDiaChi" type="text" placeholder="Địa chỉ"/>
    </div>
    <div class="input-field">
        <i class="fa-solid fa-square-phone"></i>
            <input name="txtDT" type="tel" placeholder="Số điện thoại"/>
        </div>
    <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input name="txtEmail" type="email" placeholder="Email"/>
    </div>
    <div class="input-field">
        <i class="fas fa-user"></i>
            <input name="txtUser" type="text" placeholder="Username"/>
        </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input name="txtPass" type="password" placeholder="Password"/>
    </div>
    <input type="submit" class="btn solid" value="Đăng ký">
    <p class="social-text">Đăng ký bằng các nền tảng mạng xã hội</p>
    <div class="social-media">
        <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    </form>
</div>

@section Scripts {
<script>
    var date = new Date();
    $(document).ready(function () {
        handleLogin();
    handleRegister();
        });
    
    function handleLogin() {
        document.getElementById('login_user').addEventListener('submit', function () {
            var user = $('input[name="Login_UserName"]').val();
            var pass = $('input[name="Login_Pass"').val();

            $.ajax({
                url: "https://localhost:7001/api/KhachHang/Login/" + user + "&" + pass,
                type: "POST",
                success: function (data) {
                    sessionStorage.setItem("userCustomer", user);
                    location.href = "/home";
                },
                error: function () {
                    $.notify("Đăng nhập thất bại", { className: "error", position: "top center" });
                    $('input[name="Login_Pass"').val('');
                }
            });
        });
        }
    function handleRegister(){
        document.getElementById('register_user').addEventListener('submit', function () {
            var userObj = {};
            userObj.hovaTen = $('input[name="txtHovaTen"]').val();;
            userObj.ngaySinh = $('input[name="txtNgaySinh"]').val();;
            userObj.diaChi = $('input[name="txtDiaChi"]').val();;
            userObj.sdt = $('input[name="txtDT"]').val();;
            userObj.email = $('input[name="txtEmail"]').val();;
            userObj.userName = $('input[name="txtUser"]').val();;
            userObj.passWord = $('input[name="txtPass"]').val();;
            userObj.ngayTao = date;

            $.ajax({
                url: "https://localhost:7001/api/KhachHang/Register",
                type: "POST",
                dataType: "JSON",
                contentType: 'application/json',
                data: JSON.stringify(userObj),
                success: function (data) {
                    sessionStorage.setItem("userCustomer", data.userName);
                    location.href = "/home";
                }, error: function () {
                    $.notify("Đăng ký thất bại", { className: "error", position: "top center" });
                    $('input[name="txtPass"').val('');
                }
            })
        });
    }
</script>
}