@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "Trang chủ";
}

<!--Begin: Slide-->
<div class="slideshow-container">
    <!-- Kết hợp hình ảnh và nội dung cho mội phần tử trong slideshow-->
        <div class="mySlides fade">
        <img src="~/img/slide/slide.jpg">
        </div>
    <div class="mySlides fade">
        <img src="~/img/slide/slide1.jpg">
        </div>
    <div class="mySlides fade">
        <img src="~/img/slide/slide2.jpg">
        </div>
    <!-- Nút điều khiển mũi tên-->
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    <div class="slideshow-dot">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>
<!--End: Slide-->      
<!--Begin: Products-->
<h3 class="product_category-name" id="title_theloai"></h3>
<section class="container-product" >
    <div class="grid" id="list_Products">
        
    </div>                      
</section>
<ul class="pagination" id="pagination">
</ul>
@*Modal AddCart*@
    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-modal-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <header class="modal-header">
                <i class="fa-solid fa-cart-shopping"></i> 
            </header>
        <div class="grid" style="padding: 10px">
          <div class="grid-column-2">
            <div class="product_detail-item-img" >
                <img src="" id="product_detail-img" alt="image.jpg">
            </div>

            <div class="product_detail-list-img" id="product_list-img">
            
            </div>
        </div>
        <div class="grid-column-2"><div class="div"></div>
            <p class="product_detail-item-title mb-46 product_name" id="product_name">

            </p>
            <div class="product_detail-item-price mb-46" id="product_price">
                
            </div>
            <label>Kích cỡ</label>
            <div class="product_detail-list-size mb-46" id="product_list-size">
             
            </div>
            <label>Màu sắc</label>
            <div class="product_detail-list-color mb-46" id="product_list-mausac">
    
            </div>
            <label>Số lượng</label>
            <div class="product_detail-item-quantity mb-46">
                <span class="sp-tru">-</span>
                <input id="sp-soluong-0" onKeyPress="return isNumberKey(event)" name="soluongMua" type="text" value="1" min="1">
                <span class="sp-cong">+</span>
            </div>
            <div class="product_detail-item-action mb-46" id="action_cart">
                
            </div>
        </div>
    </div>


    <footer class="modal-footer">
        <p class="modal-help">
            Need <a href="#">help?</a>
        </p>
    </footer>

    </div>
</div>

@section Scripts {
    <script src="~/Script/Customer/TrangChu.js"></script>
    <script type="text/javascript">
    //Auto slide
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName('mySlides');
            for(i=0; i < x.length; i++){
                x[i].style.display = "none";
            }
            myIndex++;
            if(myIndex > x.length) { myIndex = 1 }
            x[myIndex-1].style.display = 'block';
            setTimeout(carousel, 6000);
        }

        //Click slide
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }


        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>
}