<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   
    <title>Login khách hàng</title>
    <link rel = "stylesheet" href = "~/css/login_customer.css"/>

     <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/notify/notify.js"></script>
    <script src="~/js/moment.js"></script>
</head>
<body>
 <div class="container">
    <div class="forms-container">
        @RenderBody()
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Bạn chưa có tài khoản?</h3>
                <p>
                    Kính chào quý khách hàng đến với cửa hàng của chúng tôi.
                </p>
                <button class="btn transparent"
                    id="sign-up-button">Đăng ký</button>
            </div>
            <img src="~/img/lg-login.svg" alt="" class="image">
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>Bạn đã có tài khoản?</h3>
                <p>
                    Kính chào quý khách hàng đến với cửa hàng của chúng tôi.
                </p>
                <button class="btn transparent"
                    id="sign-in-button">Đăng nhập</button>
            </div>
            <img src="~/img/lg-register.svg" alt="" class="image">
        </div>
    </div>
</div>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/auth.js"></script>
    
     @RenderSection("scripts", false)
</body>
</html>