<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - Huế AIT Aureole Shop Thời trang</title>
    
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/base.css" rel="stylesheet">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <script src="~/vendor/notify/notify.js"></script>
    <script src="~/js/moment.js"></script>
</head>
<body>
    <div class="app">
        <!--Begin: header -->
        <header class="header">
            <div class="header__navbar-top">
                <div class="container-fluid">
                    <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item" title="Thông báo">
                                <a href="#" class="header__navbar-item-link">                             
                                    <span class="header__navbar-span"><i class="fas fa-bell"></i> Thông báo</span>
                                </a>
                            </li>
                            <li class="header__navbar-item" title="Trợ giúp">
                                <a href="#" class="header__navbar-item-link" >                                  
                                    <span class="header__navbar-span"><i class="fas fa-question-circle"></i> Trợ giúp</span>   
                                </a>
                            </li>       
                            <li class="header__navbar-item" title="Tài khoản" id="Account">
                                
                            </li>
                            <li class="header__navbar-item" title="Lịch sử mua hàng" id="lich_su">
                                <a asp-controller="Home" asp-action="LichSuMuaHang" class="header__navbar-item-link" >
                                    <span class="header__navbar-span"><i class="fa-solid fa-cart-flatbed"></i> Lịch sử mua hàng</span>   
                                </a>
                            </li>  
                            <li class="header__navbar-item" title="Giỏ hàng">
                                <a asp-controller="Home" asp-action="GioHang" class="header__navbar-item-link">          
                                    <span class="header__navbar-span"><i class="fa-solid fa-bag-shopping"></i> Giỏ hàng (<span id="count"></span>)
                                    </span>        
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div class="header__witch-site">
                <div class="header__switch-home" title="Trang chủ">
                    <a href="/">
                        <img class="header__switch-home-img" src="~/img/logo.svg" alt="logo.svg">
                    </a>
                </div>
                <nav class="header__swtich-menu">
                    <ul class="header__navbar-list" id="navbar-header">
                        
                    </ul>               
                </nav>
                <form action="/Home" method="GET" class="header__witch-search" title="Tìm kiếm">
                    
                    <input name="search" type="text" class="header__witch-search-input" placeholder="Tìm kiếm...">
                    <button name="page" value="1" id="btnSearch" class="header__search-btn" type="submit">
                    <i class="header__witch-search-btn-icon fas fa-search"></i>
                    </button>
                </form>
            </div>
        </header>

        <!--End: header-->

        @RenderBody();
        <!--End: Products-->
        <div id="backtop">
            <i class="backtop-icon fa-solid fa-arrow-up"></i>
        </div>
        <div id="footer">
            <div class="socials-list">
                <a href="http://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="http://youtube.com"><i class="fa-brands fa-youtube"></i></a>
                <a href="http://pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
                <a href="http://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="http://linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <p class="copyright">Copyright Powered by <a href="#">Nguyễn Hữu Hiệp</a></p>
        </div>
    </div>

    

    <!--JavaScript-->
    <script src="~/js/main.js"></script>
    <script src="~/Script/Customer/Main.js"></script>
   
    @RenderSection("scripts", false)
</body>
</html>